*{
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing:border-box;

}
body{
    display: grid;
    grid-auto-flow: column;
}
nav{
    background-color:rgb(134, 134, 197);
width:200px;
height: 100%;
position: fixed;
padding:20px;
padding-bottom: 20px;

}
nav p{
    padding-bottom: 20px;
    font-size: 25px;
}   
nav h1{
    padding-bottom: 30px;
    font-size: 40px;
}


main   {    
    width: 50%;
    margin-left: 20%;
    margin-top: 5%;
}